
<div class="row-fluid">
  <div class="span6">
    <h4>HDFView</h4>
    <p>
      Hierarchical Data Format 5 (HDF5) is a file format used to store, package, and simultaneously organize large quantities of related data. Although we will use R to analyze data stored in this format, <a href ="http://www.hdfgroup.org/products/java/hdfview/">HDFView</a> is free-ware that allows for quick and easy viewing and editing of these files.
    </p>
   </div>
   <div class="span6">
    <h4>R</h4>
    <p>
      <a href = "http://cran.r-project.org/">R</a> is a programming language that specializes in statistical computing. It is a powerful tool for exploratory data analysis. To interact with R, we recommend, but do not require, <a href="http://www.rstudio.com/">RStudio</a>, an interactive development environment (IDE). We will use several packages, including <a href = "http://www.bioconductor.org/packages/release/bioc/vignettes/rhdf5/inst/doc/rhdf5.pdf">rhdf5</a> and <a href = "http://cran.r-project.org/web/packages/rgdal/rgdal.pdf">gdal</a>. DOWNLOAD (1) the package installation script <a href="https://github.com/NEONdps/neonESA2014/blob/master/packageInstallation.R">here</a>, (2) the <a href = "http://trac.osgeo.org/gdal/wiki/DownloadingGdalBinaries">gdal</a> libraries, and (3) the <a href = "http://www.hdfgroup.org/HDF5/release/obtain5.html">hdf5</a> libraries. 
    </p>
  </div>
</div>

<h3>Optional resources</h3>

<div class="row-fluid">
<div class="span6">
    <h4 id="qgis">QGIS</h4>
    <p>
     <a href ="http://www.qgis.org/en/site/forusers/index.html#download">QGIS</a> is a cross-platform Open Source Geographic Information system.
    </p>
   
  </div>
  <div class="span6">
    <h4 id="las">las viewer</h4>
    <p>
      
    </p>
   
  </div>
</div>