
<div class="row-fluid">
  <div class="span6">
    <h4>HDFView</h4>
    <p>
      Hierarchical Data Format 5 (HDF5) is a file format used to store, package, and simultaneously organize large quantities of related data. Although we will use R to analyze data stored in this format, <a href ="http://www.hdfgroup.org/products/java/hdfview/">HDFView</a> is free-ware that allows for quick and easy viewing and editing of these files.
    </p>
    <h4>R</h4>
    <p>
      R is a programming language that specializes in statistical
      computing. It is a powerful tool for exploratory data analysis. To
      interact with R, we recommend, but do not require, <a href="http://www.rstudio.com/">RStudio</a>, an interactive
      development environment (IDE). We will use several packages, including <a href = "">rhdf5</a>. Download the package installation script <a href="https://github.com/NEONdps/neonESA2014/blob/master/packageInstallation.R">here</a>. 
    </p>
  </div>
</div>

<h3>Other resources</h3>

<div class="row-fluid">
  <div class="span6">
    <h4 id="firefox-sqlite">las viewer</h4>
    <p>
      
    </p>
   
  </div>

